/* === BALANCE CARD === */


.balance-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--sp-green-dark);
  color: var(--sp-white);
  padding: 24px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.balance-card #text-content {
  display: flex;
  flex-direction: column;
}
.balance-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--sp-light-gray);
  margin: 0 0 4px;
}
.balance-amount {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}
.balance-greeting {
  font-size: 0.9rem;
  color: var(--sp-light-gray);
  margin-top: 8px;
}

/* === Recent Transaction List === */
.recent-transactions-section {
  background-color: #003d1b80;
  height: 78dvh;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}
.recent-transactions-section .section-title {
  padding: 8px 16px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.transaction-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.no-transaction {
  color: var(--sp-gray);
  text-align: center;
  margin-top: 32px;
}
/* Transaction List */
.transactions-listing {
  display: flex;
  flex-direction: column;
}

#transaction-listing-container {
  width: 67dvw;
  padding: 20px 20px 0px 20px;
  
}

#transaction-listing-container .list-header, .list-row {
  display: grid;
  grid-template-columns: 1fr 20dvw 200px;
  border-bottom: 6px solid #003d1b;
  gap: 25px;
  padding: 15px;
}

.activity-list-header, .activity-scroll .list-row {
  display: grid;
  grid-template-columns: 10dvh 1fr 200px;
  border-bottom: 6px solid #003d1b;
  gap: 25px;
  padding: 15px;
}

#transaction-listing-container .list-header, .activity-list-header{
  background-color: #003d1b;
  border-radius: 16px 16px 0 0;
  height: 5dvh;
}

#transaction-listing-container .list-header #col-header, .activity-list-header #col-header{
  font-size: 24px;
  margin: 16px 0;
  
}

#transaction-listing-container #scroll-container{
  height: 68.5dvh;
  border-radius: 0 0 16px 16px;
  overflow-y: hidden;
  position: relative;
  background-color:#8ac09c1e;
}

#transaction-listing-container .activity-scroll{
  height: 68.5dvh;
  border-radius: 0 0 16px 16px;
  overflow-y: hidden;
  position: relative;
  background-color:#8ac09c1e;
}


#scroll-container .list-row {
    position: relative;
   
    height: 5dvh;
    transition: transform 0.3s;
    cursor: pointer;

    z-index: 1; 
}

#scroll-container .list-row::before {
    content: '';
    position: absolute;
    top: -3%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3A7C50; 
    z-index: -1; 
    

    opacity: 0;
    transform: scaleY(0.95);
    transition: all 0.3s;
}

#scroll-container .list-row:hover::before {
    opacity: 1;
    transform: scaleY(1.05); 
}

#scroll-container .list-row:hover {
    transform: translateY(5px); 
}

#transaction-listing-container #scroll-container #cell-name{
  overflow-x: hidden;
  text-wrap: nowrap;
}

/* Filter Buttons */
#transaction-navigation {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 12px;
  padding: 0 0 0 18px;
}

#transaction-navigation #quick-filter{
  display: flex;
  flex-direction: column;
  padding: 5dvh 0 0 0;
}
#transaction-navigation #quick-filter p{
  padding: 0;
  margin: 8px;
  color: #6db585;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
}

#quick-filter #filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
#quick-filter #filter-buttons button{
  padding: 18px 36px;
  border: none; 
  border-radius: 22px;
  color: white;
  background-color: #3A7C50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 700;

}
/* === TRANSACTION ITEMS === */
.tx-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.tx-item.income {
  background-color: #b6ffd7;
  color: #003d1b;
}
.tx-item.expense {
  background-color: #ffd6d6;
  color: #5d0000;
}
.tx-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tx-item-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tx-item-icon {
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.tx-item-icon svg {
  width: 32px;
  height: 32px;
}
.tx-item-details p {
  margin: 0;
}
.tx-item-category {
  font-weight: 600;
  font-size: 1.1rem;
  color: currentColor;
}
.tx-item-date {
  font-size: 0.85rem;
  color: currentColor;
  opacity: 0.8;
}
.tx-item-amount {
  font-weight: 600;
  font-size: 1.1rem;
  color: currentColor;
}

/* === FAB & BUTTONS === */
.fab-add {
  position: relative;
  align-self: flex-end;
  background-color: var(--sp-green);
  color: var(--sp-dark);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(52, 245, 140, 0.4);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.fab-add:hover {
  transform: scale(1.1);
}
.fab-add:active {
  transform: scale(0.95);
}

@media (max-width: 660px) {
  .fab-add {
    right: 30px;
  }
}
