:root {
  /* Palet Warna Baru */
  --sp-green: #34f58c; 
  --sp-dark: #1C1B23;
  --sp-dark-secondary: #2A2A3A;
  --sp-pink: #FF7BAC;
  --sp-green-dark: #3A7C50;
  --sp-gray: #B0B0B0;
  --sp-light-gray: #D9D9D9;
  --sp-white: #FFFFFF;
  
}

:root::-webkit-scrollbar {
  display: none;
}

/* Global Animations */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}